<!DOCTYPE html>
<html lang="en">

<head>
    <title>wiki650</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="feed">
        <div class="ask485">wiki650</div>
        <div class="search_bar">
            <form action="/" method="GET">
                <div><input type="text" name="q" value="{{query}}" /></div>
                <div><input type="range" name="w" min="0" max="1" step="0.01" value="{{weight}}" /></div>
                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="pagerank_weight">Pagerank Weight</div>
        {% if results %}
        <div class="docs">
            <ul>
                {% for result in results %}
                <li>
                    {% if result.doc_url %}
                    <a class="doc_url" href={{result.doc_url}}>{{result.doc_url}}</a>
                    {% else %}
                    <a class="doc_url" href="No url available">No url available</a>
                    {% endif %}
                    <div class="doc_title">{{result.doc_title}}</div>
                    {% if result.doc_summary %}
                    <div class="doc_summary">{{result.doc_summary}}</div>
                    {% else %}
                    <div class="doc_summary">No summary available</div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="no_results">No search results found!</div>
        {% endif %}
    </div>
</body>

</html>